<section  id="login_form" class="wrapper" style="display: none; cursor: default;">
  <div class="card">
    <div class="front">
      <header class="header">
        <div class="header-logo">
          <a>
            <h1 class="header--logo__36kr"></h1>
          </a>
          <p class="header--logo__slogan">一个邮箱，玩转所有</p>
        </div>
        <div class="header-help">
          <a href="javascript:$.unblockUI()" style="position: absolute;top: 10px;right: 10px;"><img src="<%= image_url('close.png')%>" width="40px" height="40px"></a>
        </div>
        <p id="tip" style="color: #0069d6;"></p>
      </header>
      <div class="main">
        <div class="main-login">
          <form accept-charset="UTF-8" action="/users/sign_in" class="simple_form new_user" id="new_user" method="post">
            <div class="form-group">
              <input aria-required="true" autocomplete="off"  id="email" name="user[email]" required="required" type="text" placeholder="请建入注册邮箱"/>
              <input aria-required="true" autocomplete="off"  id="password" name="user[password]" placeholder="请键入登陆密码" required="required" type="password" />
              <input type="hidden" name="back_url" value="<%= request.url %>">
              <button type="submit" style="padding: 0 0;border: hidden"><img src="/images/avatar/submit.png"></button>
            </div>
          </form>
        </div>
      </div>
      <br/><%= link_to '注册用户', sign_up_path %>
    </div>
  </div>
</section>
<%= link_to '注册用户', sign_up_path %><br />
<script>
    $('#user_login').click(function(){
        $.blockUI({ message: $('#login_form') });
    });
    $('#email').change(function(){
        var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
        if(!reg.test($.trim($('#email').val())))
        {
            $('#tip').html("键入的帐号格式不匹配");
            $('#email').val('');
            return false;
        }else{
            $('#tip').html("");
        }
    })
    $('#password').change(function(){
        if($('#password').val().length < 6){
            $('#tip').html('键入的密码非安全长度');
            $('#password').val('');
            return false;
        }else{
            $('#tip').html("");
        }
    })
</script>