<%= content_for(:title,  '暗夜小站 | 优酷上传视频') %>
<section class="content-header">
  <h1>
    优酷上传视频
    <small>视频上传表单</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 暗夜小站</a></li>
    <li class="active"><i class="glyphicon glyphicon-film"></i> 优酷上传视频</li>
  </ol>
</section>

<section class="content">
  <div style="padding-top: 10px">
    <%= render partial: 'layouts/notice' %>
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">视频上传表单</h3>
      </div>
      <div class="box-body" style="padding-left: 100px">

        <form class="form-horizontal" name="video-upload">
          <fieldset>
            <div class="form-group has-success">
              <label class="control-label" for="spanSWFUploadButton">文件：</label>
              <div class="input-group" style="width: 300px">
                <div id="uploadControl" class="controls"></div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">版权所有</label>
              <div class="controls">
                <label><input type="radio" name="copyright_type" id="copyright_type2" value="original" checked="" style="width: 30px">原创</label>
                <label><input type="radio" name="copyright_type" id="copyright_type1" value="reproduced" style="width: 30px">转载</label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">视频权限</label>
              <div class="controls">
                <label>
                  <input type="radio" name="public_type" id="public_type1" value="all" checked="" style="width: 30px">公开
                </label>
                <label>
                  <input type="radio" name="public_type" id="public_type2" value="friend" style="width: 30px">仅好友
                </label>
                <label>
                  <input type="radio" name="public_type" id="public_type3" value="password" style="width: 30px">输入密码观看
                </label>
                <label style="display:none" id="passwrod">
                  <input type="text" class="input "name="watch_password">
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="category-node">类别：</label>
              <div class="controls">
                <select id="category-node" name="category" ></select>
              </div>
            </div>

            <div class="form-group has-warning">
              <label>视频标题</label>
              <div class="input-group" style="width: 400px">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-paperclip"></i>
                </div>
                <input type="text"  id="input01" name="title" class="form-control">
              </div>
            </div>

            <div class="form-group has-warning">
              <label>视频标签</label>
              <div class="input-group" style="width: 400px">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-bookmark"></i>
                </div>
                <input type="text" class="form-control" id="input02" name="tags" style="height: 30px">
              </div>
            </div>

            <div class="form-group has-warning">
              <label class="control-label" for="textarea">简介：</label>
              <div class="controls">
                <textarea class="span8" id="textarea" rows="6" cols="60" name="description"></textarea>
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary start" id="btn-upload-start">
                <i class="icon-upload icon-white"></i>
                <span>提交</span>
              </button>
              <a href="/admin/youku" class="btn btn-success"><i class="icon-film icon-white"></i> 取消</a>
            </div>
          </fieldset>
        </form>
    </div>
      <div class="row" >
        <div class="span5" id="upload-status-wraper" ></div>
      </div>
      <br>
      <div class="well">
        <h3>说明</h3>
        <ul>
          <li><h4>最大支持上传<strong>1 GB</strong> 视频文件</h4></li>
          <li><h4>允许上传的视频格式为：wmv,avi,dat,asf,rm,rmvb,ram,mpg,mpeg,3gp,mov,mp4,m4v,dvix,dv,dat,</br>mkv,flv,vob,ram,qt,divx,cpk,fli,flc,mod。</h4></li>
          <li><h4>不符合格式的视频将会被丢弃，请确保视频格式的正确性，避免上传失败</h4></li>
        </ul>
      </div>
      <!--完成上传的DOM和登录DOM 开始-->
      <div id="complete"></div>
      <div id="login" style="width:100%;height:100%;position:fixed;z-index:999;left:0px;top:0px;overflow:hidden;display:none;">
      </div>
      <!--完成上传的DOM和登录DOM 结束-->
    </div>
    </div>
  </div>
</section>
<script src="http://open.youku.com/assets/lib/jquery-1.8.1.min.js"></script>
<script src="http://open.youku.com/assets/lib/uploadjs.php"></script>
  <script>
      //document.domain = "youku.com";
      var USE_STREAM_UPLOAD = true;
      jQuery(document).ready(function(){
          //Oauth授权的三种页面跳转方式iframe,newWindow,currentWindow
          //iframe跳转方式
          var param = {client_id:"<%= $youku_client_id%>",access_token:"",oauth_opentype:"iframe",oauth_redirect_uri:"http://test.youku.com/youkuupload/oauth_result.html",oauth_state:"",completeCallback:"uploadComplete",categoryCallback:"categoryLoaded"};
          //newWindow新弹出窗口方式
          //var param = {client_id:"",access_token:"",oauth_opentype:"newWindow",oauth_redirect_uri:"http://test.youku.com/youkuupload/oauth_result_newwindow.html",oauth_state:"",completeCallback:"uploadComplete",categoryCallback:"categoryLoaded"};
          //currentWindow当前窗口方式
          /*
           var param = {client_id:"",access_token:"",oauth_opentype:"currentWindow",oauth_redirect_uri:"http://test.youku.com/youkuupload/upload.html",oauth_state:"",completeCallback:"uploadComplete",categoryCallback:"categoryLoaded"};
           var reg = new RegExp("(^|\\#|&)access_token=([^&]*)(\\s|&|$)", "i");
           if (reg.test(location.href)){
           var access_token = unescape(RegExp.$2.replace(/\+/g, " "));
           param.access_token = access_token;
           }
           */
          youkuUploadInit(param);

      });
      //上传完成时回调方法
      function uploadComplete(data){
          alert("视频 ID="+data.videoid +"标题="+data.title);
      }

      //分类加载后回调方法
      function categoryLoaded(data){
          if(data.categories) {
              var tpl = '';
              for (var i=0; i<data.categories.length; i++) {
                  if(data.categories[i].term == 'Ads'){
                      tpl += '<option value="' + data.categories[i].term + '" selected>' + data.categories[i].label + '</option>';
                  }else{
                      tpl += '<option value="' + data.categories[i].term + '" >' + data.categories[i].label + '</option>';
                  }
              }
              $("#category-node").html(tpl);
          }
      }
  </script>
  <script>
      window.onbeforeunload = function(e)//绑定刷新等事件
      {
          var message = '确认要离开上传页面吗？请确保上传已经完成！'//设定提示消息
          if ('Netscape' == navigator.appName) return e.preventDefault(),message//针对Netscape内核的提示方式,阻止默认动作 後返回提示消息即可
          window.event.returnValue = message//针对IE等的提示方式
      }
  </script>