settings.host = 'www.link.com'
settings.development_host = 'localhost:3000'
settings.account = 'username@email.com'
settings.noreply_email = 'username@email.com'
settings.password = '********'
settings.qiniu_key = '******'
settings.qiniu_secret = '******'
settings.qiniu_cdn_host = 'http://clouddn.com/'
settings.youku_api_url = 'https://openapi.youku.com'
settings.baidu_ip_api_url = 'http://api.map.baidu.com'
settings.youku_user_id ='******'
settings.youku_client_id = '******'
settings.youku_client_secret ='******'
settings.img_type ='.png.jpeg.jpg.gif'
settings.vcd_type ='.mp4.mp3'