<ul class="sidebar-menu">
  <li class="header">管理模块</li>
  <li class="treeview <% if controller_name=='columns'%>active<% end %>">
    <a href="<%= dashboard_path %>">
      <i class="fa fa-home"></i> <span>栏目管理</span>
    </a>
  </li>
</ul>