<form action="<%= search_path %>" method="get" class="sidebar-form">
  <div class="input-group">
    <input type="text" name="query" value="<%= params[:query] %>" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
  </div>
</form>