
  <h3 class="control-sidebar-heading">常规设置</h3>
  <div class="form-group">
    <label class="control-sidebar-subheading">
      报告面板的使用
      <input type="checkbox" class="pull-right" checked />
    </label>
    <p>
      这个常规设置选项中的某些信息
    </p>
  </div>

  <div class="form-group">
    <label class="control-sidebar-subheading">
      允许邮件重定向
      <input type="checkbox" class="pull-right" checked />
    </label>
    <p>
      其他可用的选项集
    </p>
  </div>

  <div class="form-group">
    <label class="control-sidebar-subheading">
      揭露帖作者姓名
      <input type="checkbox" class="pull-right" checked />
    </label>
    <p>
      允许用户以显示他在博客帖子名称
    </p>
  </div>

  <h3 class="control-sidebar-heading">会话设置</h3>

  <div class="form-group">
    <label class="control-sidebar-subheading">
      显示在线
      <input type="checkbox" class="pull-right" checked />
    </label>
  </div><!-- /.form-group -->

  <div class="form-group">
    <label class="control-sidebar-subheading">
      关闭信息提示
      <input type="checkbox" class="pull-right" />
    </label>
  </div>

  <div class="form-group">
    <label class="control-sidebar-subheading">
     关闭聊天窗口
      <a href="javascript:;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
    </label>
  </div>