<h4 class="control-sidebar-heading">主题装扮</h4>
<ul class="list-unstyled clearfix">
    <li style="float:left; width: 50%; padding: 10px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-blue')" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span>
          <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #222d32;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin">灰蓝-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 10px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-black')" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
          <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span>
          <span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #222;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span></div></a>
      <p class="text-center no-margin">灰白-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-purple')" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
          <span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 40px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span></div></a>
      <p class="text-center no-margin">灰紫-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-green')" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span>
          <span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #222d32;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin">灰绿-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-red')" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span>
          <span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #222d32;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin">灰红-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-yellow')" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span>
          <span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #222d32;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin">灰黄-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-blue-light')" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span>
          <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #f9fafc;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin" style="font-size: 12px">浅蓝-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-black-light')" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
          <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span>
          <span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #f9fafc;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin" style="font-size: 12px">浅白-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-purple-light')" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
          <span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #f9fafc;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin" style="font-size: 12px">浅紫-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-green-light')" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span>
          <span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #f9fafc;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin" style="font-size: 12px">浅绿-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-red-light')" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span>
          <span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #f9fafc;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin" style="font-size: 12px">浅红-skin</p>
    </li>

    <li style="float:left; width: 50%; padding: 5px;">
      <a href="javascript:void(0);" onclick="SelectSkin('sidebar-mini wysihtml5-supported skin-yellow-light')" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
        <div>
          <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span>
          <span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
        </div>
        <div>
          <span style="display:block; width: 20%; float: left; height: 40px; background: #f9fafc;"></span>
          <span style="display:block; width: 80%; float: left; height: 40px; background: #f4f5f7;"></span>
        </div>
      </a>
      <p class="text-center no-margin" style="font-size: 12px;">浅黄-skin</p>
    </li>
</ul>

<script type="text/javascript">
    function SelectSkin(skin){
        $('#body-skin').attr('class',skin);
        $.get('/admin/style_option?style=' + skin ,function(data,status){});
    }
</script>