<h3 class="control-sidebar-heading">最近日程安排</h3>
<ul class='control-sidebar-menu'>
  <li>
    <a href='javascript::;'>
      <i class="menu-icon fa fa-birthday-cake bg-red"></i>
      <div class="menu-info">
        <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
        <p>Will be 23 on April 24th</p>
      </div>
    </a>
  </li>
  <li>
    <a href='javascript::;'>
      <i class="menu-icon fa fa-user bg-yellow"></i>
      <div class="menu-info">
        <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
        <p>New phone +1(800)555-1234</p>
      </div>
    </a>
  </li>
  <li>
    <a href='javascript:;'>
      <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
      <div class="menu-info">
        <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
        <p>nora@example.com</p>
      </div>
    </a>
  </li>
  <li>
    <a href='javascript:;'>
      <i class="menu-icon fa fa-file-code-o bg-green"></i>
      <div class="menu-info">
        <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
        <p>Execution time 5 seconds</p>
      </div>
    </a>
  </li>
</ul>
<h3 class="control-sidebar-heading">事件进度</h3>
<ul class='control-sidebar-menu'>
  <li>
    <a href='javascript::;'>
      <h4 class="control-sidebar-subheading">
        我的模板设计
        <span class="label label-danger pull-right">70%</span>
      </h4>
      <div class="progress progress-xxs">
        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
      </div>
    </a>
  </li>
  <li>
    <a href='javascript:;'>
      <h4 class="control-sidebar-subheading">
        更新个人数据
        <span class="label label-success pull-right">95%</span>
      </h4>
      <div class="progress progress-xxs">
        <div class="progress-bar progress-bar-success" style="width: 95%"></div>
      </div>
    </a>
  </li>
  <li>
    <a href='javascript::;'>
      <h4 class="control-sidebar-subheading">
        功能整合
        <span class="label label-waring pull-right">50%</span>
      </h4>
      <div class="progress progress-xxs">
        <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
      </div>
    </a>
  </li>
  <li>
    <a href='javascript::;'>
      <h4 class="control-sidebar-subheading">
        后端框架
        <span class="label label-primary pull-right">68%</span>
      </h4>
      <div class="progress progress-xxs">
        <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
      </div>
    </a>
  </li>
</ul>