@charset "UTF-8";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, hgroup, menu, nav, summary, time, mark, audio, video, header, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


article, aside, canvas, details, figcaption, figure, footer, header, hgroup, img, menu, nav, section, summary {
  display: block;
}


ol, ul {
  list-style: none;
}


blockquote, q {
  quotes: none;
}


blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}


[hidden] {
  display: none;
}


abbr[title] {
  border-bottom: 1px dotted;
}


b, strong {
  font-weight: bold;
}


em {
  font-size: 16px;
  font-size: 1.6rem;
  background: #f6f6f6;
  border-bottom: 1px solid #e4e4e4;
}


dfn {
  font-style: italic;
}


mark {
  background: #ff0;
  color: #000;
}


sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


sup {
  top: -0.5em;
}


sub {
  bottom: -0.25em;
}


svg:not(:root) {
  overflow: hidden;
}


figure {
  margin: 0;
}


a {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
}


button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  vertical-align: baseline;
}


button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}


button[disabled], input[disabled] {
  cursor: default;
}


input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}


input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}


input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}


button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}


input:focus, textarea:focus {
  outline: none;
}


input::-ms-clear {
  display: none;
}


[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}


[placeholder]:focus::-moz-input-placeholder {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}


html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  color: #747f8c;
  line-height: 1.7;
  font-size: 14px;
  font-size: 1.4rem;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}


::selection {
  background-color: #38485a;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}


::-moz-selection {
  background-color: #38485a;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}


img::selection {
  background: transparent;
}


img::-moz-selection {
  background: transparent;
}


.left {
  float: left;
}


.right {
  float: right;
}


.cf:after {
  content: "";
  display: table;
  clear: both;
}


.text-center {
  text-align: center;
}


a {
  text-decoration: none;
  color: #2977ba;
}


a:hover {
  text-decoration: none;
  color: #205c90;
}


a:focus {
  color: #6f6f6f;
}


a:hover, a:focus, a:active {
  outline: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}


h1, h2, h3, h4, h5, h6, p, blockquote {
  margin: 0;
  padding: 0;
}


input[type="text"] {
  -webkit-appearance: none;
  word-break: normal;
}


.mb20 {
  margin-bottom: 20px;
}


.btn {
  border-radius: 3px;
  display: inline-block;
}

img, video, object, embed, iframe {
  max-width: 100% !important;
}


video, object, embed, iframe {
  width: 100%;
}


iframe {
  max-height: 340px;
}


img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  display: block;
  height: auto;
  border: 0;
  vertical-align: middle;
}

@-webkit-keyframes shake {
  0%,100% {
    -webkit-transform: translateX(0);
  }
  10%,30%,50%,70%,90% {
    -webkit-transform: translateX(-10px);
  }
  20%,40%,60%,80% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes shake {
  0%,100% {
    -moz-transform: translateX(0);
  }
  10%,30%,50%,70%,90% {
    -moz-transform: translateX(-10px);
  }
  20%,40%,60%,80% {
    -moz-transform: translateX(10px);
  }
}
@keyframes shake {
  0%,100% {
    transform: translateX(0);
  }
  10%,30%,50%,70%,90% {
    transform: translateX(-10px);
  }
  20%,40%,60%,80% {
    transform: translateX(10px);
  }
}

.shake {
  -webkit-animation: shake;
  -moz-animation: shake;
  animation: shake;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn;
  -moz-animation: fadeIn;
  animation: fadeIn;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block !important;
}


html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #2472b4;
}


::-webkit-input-placeholder {
  color: #747f8c;
}


:-moz-placeholder {
  color: #747f8c;
}


::-moz-placeholder {
  color: #747f8c;
}


:-ms-input-placeholder {
  color: #747f8c;
}


canvas {
  display: block;
  vertical-align: bottom;
}


#particles-js {
  width: 100%;
  height: 100%;
}


input:focus, textarea:focus, select:focus {
  border-color: rgba(115, 126, 140, 0.8);
}

//mac浏览
@media ( min-width: 400px) {
  .wrapper {
    width: 380px;
    height: 480px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -240px 0 0 -190px;
    text-align: center;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
  }

  .card {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .front {
    display: block;
    padding: 20px;
    background: #FFF;
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

  .form-group input {
    width: 300px;
    height: 40px;
  }
}

//iphone 6浏览
@media ( max-width: 376px) {
  .wrapper {
    width: 92%;
    height: 450px;
    position: absolute;
    top: 45%;
    left: 54%;
    margin: -240px 0 0 -190px;
    text-align: center;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
  }

  .card {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .front {
    display: block;
    margin: 20px auto;
    background: #FFF;
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
  .form-group input {
    width: 280px;
    height: 40px;
  }
}

//iphone 5浏览
@media ( max-width: 321px) {
  .wrapper {
    width: 300px;
    height: 420px;
    position: absolute;
    top: 45%;
    left: 62%;
    margin: -240px 0 0 -190px;
    text-align: center;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
  }
    .card {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .front {
    display: block;
    margin: 20px auto;
    background: #FFF;
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

  .form-group input {
    width: 260px;
    height: 40px;
  }

}


.header {
  margin-top: 10px;
  margin-bottom: 30px;
}

.header--logo__36kr {
  width: 154px;
  height: 127px;
  background: asset_url('toutu/just_logo.png') no-repeat;
  background-size: 154px 127px;
  text-indent: -9999em;
  display: inline-block;
  margin-bottom: 10px;
}

.header--logo__slogan {
  font-weight: 600;
  font-size: 16px;
}

.header-help__btn, .header-close__btn {
  width: 24px;
  height: 24px;
  /*background: asset_url('icons.svg') no-repeat;*/
  text-indent: -9999em;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-help__btn {
  background-position: 0 0;
}

.header-close__btn {
  background-position: -24px 0;
}

.main-wechat {
  width: 302px;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid rgba(67, 79, 93, 0.2);
  padding-top: 25px;
}

.main-wechat img {
  margin-bottom: 10px;
  display: inline-block;
}

.main-wechat:before {
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -45px;
  content: "微信扫码登录";
  font-size: 12px;
  background: #fff;
  padding: 5px 10px;
}

.main-social {
  padding-bottom: 25px;
}

.main-social > div {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.main-social a {
  display: inline-block;
  padding: 8px 20px;
  width: 140px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
}

.main-social i {
  width: 20px;
  height: 18px;
  display: inline-block;
  margin-top: -3px;
  vertical-align: middle;
  background: url(https://passport.36kr.com/assets/social-cf647b88d49e260022e0c31d5695aac8.svg) no-repeat;
}

.main-social .svg-weibo {
  background-position: 0 0;
}

.main-social .svg-qq {
  background-position: -21px 0;
}

.login-weibo a {
  background: #D04341;
}

.login-weibo a:hover {
  background: #b22e2c;
}

.login-qq a {
  background: #41B3E0;
}

.login-qq a:hover {
  background: #219ccd;
}

.main h3 {
  font-size: 16px;
  text-align: center;
}

.about {
  text-align: left;
}

.about ol {
  margin-top: 30px;
  padding: 0 30px 30px;
}

.about ol li {
  list-style: circle;
  margin-bottom: 15px;
}

.simple_form h3 {
  margin-bottom: 30px;
}

.simple_form h4 {
  margin-bottom: 20px;
}

.form-group {
  position: relative;
}


.form-group input#user_verify {
  width: 200px;
  margin-left: 20px;
  float: left;
  vertical-align: middle;
}

.form-group a#get_verify {
  display: inline-block;
  width: 90px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  color: #000;
  text-align: center;
  background-color: #F7F7F6;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.form-group a#get_verify:hover {
  background-color: #EBEBEB;
}

.form-group .login-way {
  position: relative;
  margin-top: 20px;
}

.form-group .error-msg {
  width: 150px;
  height: 30px;
  line-height: 10px;
  margin-left: 20px;
  color: red;
  text-align: left;
}

.form-group .qrcode-layer {
  position: absolute;
  display: none;
  width: 101px;
  height: 101px;
  border: 1px solid #CCCCCC;
  background-color: #fff;
  text-align: center;
  top: -95px;
  left: 50%;
  margin-left: -50px;
  border-radius: 2px;
}

.form-group .qrcode-layer span {
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  left: 45px;
}

.form-group .qrcode-layer span.bot {
  border-width: 5px;
  border-style: solid dashed dashed;
  border-color: #ccc transparent transparent;
  bottom: -11px;
}

.form-group .qrcode-layer span.top {
  border-width: 5px;
  border-style: solid dashed dashed;
  border-color: #ffffff transparent transparent;
  bottom: -10px;
}

.form-group .qrcode-layer .icon-qrcode {
  margin: 5px auto;
}

.form-group .icon {
  display: inline-block;
  margin: 15px;
}

.form-group .disabled {
  background-color: rgba(225, 225, 225, 0.9);
  cursor: not-allowed;
}

.form-group .disabled:hover {
  background-color: rgba(225, 225, 225, 0.9);
}

.form-group .input-error {
  border: 1px solid #B82222;
}

.form-group .input-resent, .form-group .input-tips {
  color: #fff;
  font-size: 11px;
  line-height: 26px;
  position: absolute;
  right: 28px;
  bottom: 24px;
  width: 80px;
  height: 26px;
  cursor: pointer;
}

.form-group .input-tips {
  background-color: #B82222;
}


.form-group .input-resent {
  background-color: #9194A0;
}


input[type="text"] {
  font-family: "Comic Sans MS","Helvetica","幼圆",sans-serif;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #DFE1E8;
  padding: 15px;
  margin-bottom: 10px;
  color: #747f8c;
}


input[type="password"] {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #DFE1E8;
  padding: 15px;
  margin-bottom: 10px;
  color: #747f8c;
}


.input-submit {
  background-color: #2376BC;
  font-weight: bold;
  color: #fff;
}


.input-submit:hover {
  background: #dd3b5a;
}

.done, .alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0 40px;
  width: 320px;
  height: 50px;
}

.verify h3 {
  margin-bottom: 30px;
}

.verify span {
  color: #2977BA;
  padding-right: 2px;
  padding-left: 2px;
}

#wechat_login_container iframe {
  width: 200px;
  height: 200px;
}

.alert {
  position: static;
  width: auto;
}

.img-circle {
  -webkit-border-radius:500px;
  -moz-border-radius:500px;
  border-radius:500px
}