<%= content_for(:title,  '暗夜小站 | 添加栏目') %>
<section class="content-header">
  <h1>
    添加栏目
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 暗夜小站</a></li>
    <li class="active"><i class="glyphicon glyphicon-plus"></i> 新增栏目</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <%= render partial: 'layouts/notice' %>
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">栏目新增表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>