<div class="row">
  <div>
    <a><icon class="fa fa-stack-overflow"></icon> 视频分类</a>
  </div>
  <div>
    <a><icon class="fa fa-delicious"></icon> 精彩推荐</a>
  </div>
  <div>
    <a><icon class="fa fa-user-secret"></icon> 用户中心</a>
  </div>
</div>