<div class="row">
    <div class="footer-36kr">
      <h3>暗夜军团 <font style="font-size: 20px"> | </font> 流星蝴蝶剑</h3>
      <ul>
        <li style="padding-left: 10px"><img src="<%= Settings.qiniu_cdn_host %>201508_MaWTPiO5oAIkYczUtdKQN6GVp.png" style="width: 120px;height: 120px" title="扫我加微信"></li>
      </ul>
    </div>
    <div class="footer-subscribe">
      <h3>反馈 <font style="font-size: 20px"> | </font> 让你我共同进步</h3>
      <ul>
        <li style="font-size: 18px"><a href="mailto:huaxuan21475@gmail.com" target="_blank"><img src="<%= image_path('toutu/google.png')%>" width="150px"></a></li>
        <li><a href="http://dx.pc6.com/lei/liuxing9.07.zip"  target="_blank"><img src="<%= image_path('toutu/meteor.png')%>" width="150px"></a></li>
      </ul>
    </div>
    <div class="footer-partner">
      <h3>友情连接 <font style="font-size: 20px"> | </font> 分享创造快乐</h3>
      <ul>
        <li style="font-size: 18px"><a href="/feed" target="_blank">Feed</a></li>
        <li style="font-size: 18px"><a href="http://techer.info" target="_blank">Chad</a></li>
        <li style="font-size: 18px"><a href="http://anjingdenaobu.com" target="_blank">安静的脑补</a></li>
      </ul>
    </div>
    <div class="footer-copyright">
      <h3>技术支持 <font style="font-size: 20px"> | </font> 开源的力量</h3>
      <p style="font-size: 16px">本站由<a   href="https://www.ruby-lang.org/en?from=huaxuan.link" target="_blank"> Ruby</a>创建。<br>
        框架为<a   href="http://guides.ruby-china.org?from=huaxuan.link" target="_blank"> Rails </a>开发。<br>
        服务器<a   href="https://coding.net?from=huaxuan.link" target="_blank"> Coding.net</a>提供。<br>
        视频播放器<a   href="http://videojj.com?from=huaxuan.link" target="_blank"> Video++</a>提供。<br>
      </p>
      <p style="font-size: 20px">Powered By<a   href="http://ruby-china.org?from=huaxuan.link" target="_blank"> Ruby China</a></p>
    </div>
  </div>