<div style="width: 400px;text-align: center;">
  <% if flash[:success] %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <%= flash[:success] %>
      </div>
  <% end %>
  <% if flash[:warn] %>
      <div class="alert alert-warning">
        <button class="close" data-dismiss="alert">×</button>
        <%= flash[:warn] %>
      </div>
  <% end %>
  <% if flash[:notice] %>
      <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
  <% end %>
  <% if flash[:error] %>
      <div class="alert alert-warning">
        <button class="close" data-dismiss="alert">×</button>
        <%= flash[:error] %>
      </div>
  <% end %>
</div>
