<%= content_for(:title,  '新用户注册 | Koogle') %>
<%=javascript_include_tag 'http://api.geetest.com/get.php' %>
<div class="main">
  <div class="main-login">
    <form accept-charset="UTF-8" action="/users" class="simple_form new_user" id="new_user" method="post" onkeydown="if(event.keyCode==13 || event.which ==13) return false;">
      <div class="form-group">
        <input type="text" aria-required="true" id="email" name="user[email]"  placeholder="Email" required="required"/>
        <input type="text" aria-required="true" id="password" name="user[password]" placeholder="Password" required="required" onfocus="this.type='password'"/>
        <div id="geetest" style="padding-left: 25px;padding-bottom: 10px"></div>
        <input id="btn_sub" class="btn input-submit" name="commit" type="submit" value="注册用户" />
      </div>
    </form>
  </div>
</div>
<br>
<%= render 'users/shared/links' %>
<script>
  $('#email').change(function(){
    var reg = /^([a-zA-Z0-9_-.])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
    if(!reg.test($.trim($('#email').val())))
    {
      $('#tip').html("请填写正确邮箱");
      $('#email').val('');
      return false;
    }
  });
  $('#password').change(function(){
    if($('#password').val().length < 6){
      $('#tip').html('密码强度太弱了，不安全');
      $('#password').val('');
      return false;
    }
  });
  window.embed_captcha = new window.Geetest({
    gt: 'a92f1d66c86bf59349e17d722aefe043',
    product: 'popup'
  }).appendTo("#geetest").bindOn('#btn_sub');
</script>